


.nav-link {
    color: whitesmoke !important;
}

.btn-primary {
    color: white !important;
    background-color: #4682B4 !important;
    border-color: white !important;
}

.btn-primary:hover {
    background-color: #FF6347!important;
    border-color: white !important;
    color: white !important;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    color: #001445;
}
