<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>SOL-ENGLISH</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Нужен английский?</h2>
    <p>На сайте SOL-ENGLISH вы найдете инструменты для самостоятельного изучения языка:

    <ul>
        <li>Теоретическая база</li>
        <li>Лексические,грамматические и фонетические упражнения</li>
        <li>Тесты - контрольные работы с ручной проверкой</li>
    </ul>
    <br>
    Чтобы начать нужно зарегистрироваться и пройти тест, по результатам которого для вас будет построен индивидуальный план.
    Не теряйте время и новые возможности!
    </p>
</div>
</body>
</html>
