<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>О компании</title>
    <script th:inline="javascript"></script>
</head>
<body>
<div layout:fragment="content">
    <h1>О компании</h1>
    <p>SOL-ENGLISH - это веб-приложение для самостоятельного изучения английского языка.<br>
        В изучении английского очень многие процессы можно автоматизировать, следовательно вы можете пройти большую части пути в соло режиме.
        Данное веб-приложение предлагает онлайн-тренажеры с лексическими, фонетическими и грамматическими упражнениями с автопроверкой, которые
        позволят вам развить навыки:
    <ul>
        <li>аудирования</li>
        <li>говорения</li>
        <li>чтения</li>
        <li>письма</li>
    </ul>
    <br>
    Для контроля результатов вы можете проходить контрольные точки - тесты с ручной проверкой, которые позволят подтвердить прогресс, выявить и исправить ошибки, заполнить пробелы в знаниях.
    Все, что вам понадобится - это ваше истинное желание говорить на английском и дисциплина.
    Учить английский - это как создавать сильное, подтянутое тело в спортзале: нужно работать регулярно, повторять многократно опрделенные упражнения.
    </p>
    <p class="text-center p-3"> И помните только вы можете пройти этот путь, а мы лишь можем показать дорогу!</p>
</div>
</body>
</html>

