<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр статьи</title>
</head>
<body>
<form layout:fragment="content">

        <h2 th:text="${article.getTitle()}"></h2>
        <br>
        <label for="author"><u>Автор статьи: </u><em th:text="${article.getAuthor()}" type="text" id="author"></em>
        </label>
        <br>
        <label for="keyWords"><u>Ключевые слова: </u><em th:text="${article.getKeyWords()}" type="text"
                                                         id="keyWords"></em></label>
        <br>
        <br>

        <p th:text="${article.getIntroduction()}" id="introduction"></p>

<!--        <figure class="figure w-50 float-end m-3">-->
<!--            <img src="/images/english_language.jpg"  class="figure-img img-fluid rounded img-thumbnail" alt="Alt text.">-->
<!--&lt;!&ndash;            <figcaption class="figure-caption text-center">Visible text.</figcaption>&ndash;&gt;-->
<!--        </figure>-->

        <p th:text="${article.getBody()}" id="body">
        <p th:text="${article.getConclusion()}" id="conclusion">
            <br>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>



</form>
</body>
</html>
